<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="SiteSectionGroup">
      <section name="Sites" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <SiteSectionGroup>
    <Sites>
      <add key="INFA_B" value="https://gibz.sharepoint.com/sites/INFA_B_2019" />
      <add key="INFA_A" value="https://gibz.sharepoint.com/sites/INFA_A_2019" />
      <add key="INFWU" value="https://gibz.sharepoint.com/sites/INFWU_2019" />
      <add key="OD" value="https://gibz-my.sharepoint.com/personal/rlaich_gibz_ch" />
    </Sites>
  </SiteSectionGroup>
  <appSettings>
    <add key="DokumentLibrary" value="Dokumente"/>
    <add key="DefaultUser" value="rlaich@gibz.ch" />
    <add key="DefaultSite" value="OD" />
    <add key="DowloadDest" value="c:\temp" />
    <add key="UploadSrc" value="C:\Users\rolfl\OneDrive - GIBZ\M242" />
    <add key="CmdRoot" value="C:\Users\rolfl\OneDrive - GIBZ\Cmd"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>