<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="SiteSectionGroup">
      <section name="Sites" type="System.Configuration.NameValueSectionHandler" />
    </sectionGroup>
  </configSections>
  <SiteSectionGroup>
    <Sites>
      <add key="Alias1" value="<site alias 1>" />
      <add key="Alias2" value="<site alias 2>" />
      <add key="Alias3" value="<site alias 3>" />
      <!-- the numer fo aliases is not restricted -->
    </Sites>
  </SiteSectionGroup>
  <appSettings>
    <!-- these settings are accessed from the app -->
    <add key="DokumentLibrary" value="Dokumente"/>
    <!-- these settings can be used as variables in the command options; e.g. $CmdRoot\mycommandfile.txt -->
    <add key="DefaultUser" value="<a valid user>" /> <!-- allows to omit the user in the command line -->
    <add key="DefaultSite" value="<alias of default site>" /> <!-- allows to omit the site in the command line -->
    <add key="DowloadDest" value="<a path to downlaod the contents>" /> <!-- shortcut for the download root folder -->
    <add key="UploadSrc" value="<the root path from where to upload" /> <!-- shortcur for the uplaoad root folder -->
    <add key="CmdRoot" value="<the path to place the command files>"/> <!-- shortcut for the directory containing the command files -->
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
</configuration>